.navbarHeader {
  display: flex;
  height: 65px;
  padding: 0 20px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.4px solid rgb(229, 231, 235);
}
.navbarColRight {
  display: flex;
  width: 300px;
  justify-content: space-evenly;
}

.containerLogOut {
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttonLogOut {
  font-size: 12px;
  width: 60px;
  background-color: red;
  color: white;
}
